@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.to-sky-custom {
		--tw-gradient-to: #0a4466;
	}

	.toc-list ol li a span {
		@apply text-red-600;
	}

	span.title {
	}

	span.code-marker {
		@apply text-custom-yellow font-medium italic;
	}

	span.code-marker2 {
		@apply text-custom-pink font-medium italic;
	}
}

* {
	@apply text-white text-lg font-poppins;
}

body {
	@apply w-full bg-gray-800 flex justify-center flex-wrap;
}

img {
	@apply my-10;
}

p {
	@apply indent-10 text-justify my-6;
}

a {
	@apply text-custom-light-blue;
}

span {
	font-size: inherit;
}

hr {
	@apply my-16;
}

tr {
	@apply text-left border-b border-gray-300;
}

tbody {
	@apply p-10;
}

ul,
ol {
	@apply mb-6;
	padding-inline-start: 2ch;
}

ul {
	list-style: disc;
}

ul > ul {
	list-style: circle;
}
li {
	@apply my-2;
}
pre code {
	@apply my-5 rounded-lg;
}
